/* src/app/login/login.component.css */
.login-container {
  display: flex;
  width: 100%;
  height: 100vh;
  /* background: linear-gradient(to right, #f2f6ff, #e2e9ff); */
  background-color: rgb(123, 165, 213);
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafe;
}

.login-left img {
  max-width: 80%;
  height: auto;
}

.login-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  
}

.logo img {
  max-width: 80px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #666;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #005bb5;
}

.error-message{
    color:red;
    margin-bottom:2px;
}

input[readonly] {
    color: #e1b218d2; /* Light gray background for readonly */
    cursor: not-allowed; /* Change cursor to indicate non-editable */
  }
  