<div class="card-container">
    <div class="success">
    <div class="login-left">
      <img src="https://c8.alamy.com/comp/2BEFCEF/young-man-programmer-working-on-computer-with-code-on-screen-student-programming-vector-concept-man-work-with-computer-programmer-professional-and-character-of-freelancer-on-workplace-illustration-2BEFCEF.jpg" alt="Welcome Image" />
    </div>
    <div class="login-right">
      <div class="check-icon">
        <img src="https://static-00.iconduck.com/assets.00/success-icon-2048x2048-8woikx05.png" alt="Success Icon" />
      </div>
      <h3>Logging you in....</h3>
      <p>Kindly wait as we are curating the data accordingly.</p>
    </div>
  </div>
</div>
  